:root {
  /*https://realtimecolors.com/?colors=0c0e0d-fafafa-9595ef-f2fdf2-ef9595*/
  --text: #0c0e0d;
  --background: #fafafa;
  --primary-button: #9595ef;
  --secondary-button: #f2fdf2;
  --accent: #ef9595;
}
