<!DOCTYPE html>
<html lang="{{ settings.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    {% if label %} {% set title = settings.labels[label] %} {% endif %}
    <title>
      {%- if isdev %}🔨{% endif -%} {{ settings.name | title }} | {{title |
      title}}
    </title>
  </head>
  <body>
    {{content | safe}}
    <script src="/index.js"></script>
  </body>
</html>
